*{
	margin: 0;
	padding: 0;
}
.div1{
	width: 1150px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.logo{
	float: left;

}
.logo img{
	width: 65px;
}
.title{
	float: left;
}
.title h1{
	font-size: 50px;
}
.login{
	float: right;
	margin-top: 10px;
}
.login form input[type=submit]{
	background-color: #3cbc8d;
	padding: 5px;
	color: white;
}
.menu{
	background-color: black;
	overflow: hidden;
	width: 1150px;
}
.menu ul{
	
}
.menu ul li{
	display: inline-block;
	border-left: 1px solid white;
}
.menu ul li a{
	text-decoration: none;
	text-align: center;
	color: white;
	font-weight: 5px;
	display: inline-block;  
	padding: 20px 36px;
}
.menu ul li:hover{
	background-color: #210fd9;
}
.div2{
	width: 600px;
	margin-left:380px;
	margin-right:auto;
}
.div2 p{
	font-size: 19px;
	text-align: justify;
}
.div2 h2{
	margin-top:20px;
}
.div2 fieldset{
	width:800px;
	padding:35px;
}
.div2 input {
	padding:10px 60px;
	margin: 10px 0px;
	
}
#inputl{
	margin-right:100px;
}

#labell{
	padding-right: 50px;
	margin-right:283px;
	
}